body {
    background-color: rgb(125, 190, 150);
}

/* HEADER begin*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(61, 139, 103);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-size: 50px;
    color:aliceblue;
}

header nav { 
    padding-top: 15px;
    margin-right: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    margin-left: 25px;
    display: inline;
}

header nav a:hover {
    color: rgb(192, 192, 235);
}
/* HEADER END */

/* ELEMENTAL selectors begin */
a {
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
}

p {
    font-size: 20px;
    color: aliceblue;
    margin: 10px;
    padding: 10px;
}
/* ELEMENTAL END */

/* headshot image */
.img-about {
    margin: 10px;
    padding: 10px;
}

/* LEFT side headers */
.tab {
    display: flex;
}

.tab h2 {
    width: 20%;
    padding: 10px;
    margin: 10px;
    text-align: center;
    align-self: center;
    font-size: 50px;
    color: aliceblue;
}
/* LEFT END */

 /* RIGHT class start*/
.right {
    width: 70%;
    padding: 20px;
    margin: 10px;
    display: flex; 
    border-left: 5px solid aliceblue;
}

 /* RIGHT paragraphs and lists */
.right ul {
    list-style-type: none;
} 

.right ul p {
    text-indent: 5%;
}
.right nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.right nav ul {
    list-style-type: none;
}

.right nav ul li {
    display: inline;
    margin-left: 25px;
}

.right a:hover {
    color: rgb(120, 120, 192);
}

/* MY WORK section */

.content {
    flex: 5;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

/* BOX adjustments*/
.box {
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    padding: 10px;
    flex: 0 0 300px;
    box-shadow: 10px 10px 5px rgb(95, 168, 123);
    margin: 20px;
}

.box h3 {
    background-color: cornflowerblue;
    border-radius: 50px 50px 0px 0px;
    padding: 30px;
    text-align: center;
    margin: 0px;
    font-size: 40px;
}

.box p {
    text-align: center;
}

.box a img {
    width: 100%;
    height: 100%;
}

#box-1 {
    flex: 100%;
}

#box-2, #box-3, #box-4, #box-5 {
    flex: 30%;
}

@media screen and (max-width: 602px) {
    main,
    nav {
        flex-direction: column;
    }

    .tab h2 {
        width: 55%;
    }
    
}