body {
    background-color: rgb(125, 190, 150);
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(61, 139, 103);
}

header h1 {
    display: inline-block;
    font-size: 50px;
    color:aliceblue;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

header nav a:hover {
    color: rgb(192, 192, 235);
}

a {
    color: aliceblue;
    text-decoration: none;
}
