body {
    background-color: rgb(125, 190, 150);
}

/* HEADER BEGIN */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(61, 139, 103);
}

header h1 {
    display: inline-block;
    font-size: 50px;
    color:aliceblue;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

header nav a:hover {
    color: rgb(192, 192, 235);
}
/* HEADER END */

/* ELEMENTAL SELECTORS BEGIN */
a {
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
}

p {
    font-size: 20px;
    color: aliceblue;
    margin: 10px;
    padding: 10px;
}

/* headshot image */
.img-about {
    margin: 10px;
    padding: 10px;
}

/* left side headers */
.tab {
    display: flex;
}

.tab h2 {
    width: 20%;
    padding: 10px;
    margin: 10px;
    text-align: center;
    align-self: center;
    font-size: 50px;
    color: aliceblue;
}
/* end of left headers */

 /* right side of the body start */
.right {
    width: 70%;
    padding: 20px;
    margin: 10px;
    display: flex;
    border-left: 5px solid aliceblue;
    /* position: relative; */
}

.right ul {
    list-style-type: none;
} 

.right ul li {
    display: inline-block;
    margin-left: 25px;
}

.right a:hover {
    color: rgb(120, 120, 192);
}

/* .first-p {
    top: 0;
    left: 0;
    position: absolute;
}

.second-p {
    top: 0;
    right: 0;
    position: absolute;
} */

/* .right p {
    display: flex;
    flex-flow: row wrap;
} */

/* .content {} */

/* my work application images*/
#box-1 {
    width: 100%;
    background-image: url("../images/horiseon.png");
}

#box-2 {
    background-image: url("../images/prework-site.png");
}

#box-3 {
    background-image: url("../images/code-screen.jpg");
}

#box-4 {
    background-image: url("../images/html-image.jpg");
}

#box-5 {
    background-image: url("../images/web-deve.jpg");
}
#box-2 #box-3 #box-4 #box-5 {
    flex-flow: row wrap;
}

@media screen and (max-width: 602px) {
    
}